<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.linuxmotion.livewallpaper.photoswitcher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-feature android:name="android.software.live_wallpaper" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <service
            android:label="OpenLiveWallpaper"
            android:name=".services.OpenLiveWallPaperService"
            android:permission="android.permission.BIND_WALLPAPER" >
            	<intent-filter>
                	<action android:name="android.service.wallpaper.WallpaperService" />
            	</intent-filter>
            	<meta-data android:name="android.service.wallpaper" android:resource="@xml/photo_switcher" />
        </service>
        
        <activity
            android:label="@string/app_name"
            android:name=".OpenLiveWallPaperActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="openLiveWallpaper"
            android:name="org.linuxmotion.filemanager.openFileManagerActivity">
         </activity>
         
        <activity android:name=".WallpaperViewer">
        </activity>
        
        <activity android:name=".BasicFileBrowser">
        </activity>
         
    </application>

</manifest>